<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - SportSync</title>
    @* <link href="~/css/app.css" rel="stylesheet" /> *@
    <link rel="stylesheet" href="~/css/panel.css">
</head>
<body>

    <div class="navbar">
        <div class="navbar-left">
            <img src="~/img/logo.png" alt="Icono" style="width: 170px; height: auto;">
        </div>
        <div class="navbar-right">

            @await Html.PartialAsync("~/Views/Shared/Partials/_BtnCerrarSesionLink.cshtml")

            @* <a asp-controller="Arbitro" asp-action="panelArbitro" class="btn">Ir a panel</a> <!-- Botón añadido --> *@
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- ====== ionicons ======= -->
    <script type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="panel.js"></script>

</body>
</html>