<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SportSync</title>

    <link rel="stylesheet" href="~/css/panel.css">
</head>
<body>
    <div class="navbar">
        <div class="navbar-left">
            <img src="~/img/logo.png" alt="Icono" style="width: 170px; height: auto;">
        </div>
        <div class="navbar-right">


            <a href="#" id="logout" style="text-decoration: none; display: flex; align-items: center;">

                @* <a asp-action="CerrarSesion" asp-controller="Home" class="dropdown-item text-danger">
                <i  class="align-middle me-1" data-feather="log-out"></i
                > Cerrar sesión</a>  *@
                @await Html.PartialAsync("~/Views/Shared/Partials/_BtnCerrarSesion.cshtml")

            </a>

            <a asp-controller="Arbitro" asp-action="panelArbitro" class="btn">Ir a panel</a> <!-- Botón añadido -->

            @* Agregar logica para remplazar boton dependiendo del perfil del usuario  *@

            @* <a asp-controller="Coach" asp-action="PanelEquipoCoach" class="btn">Ir a panel</a> <!-- Botón añadido --> *@
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="panel.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
