@{
    ViewData["Title"] = "SportSyncSoftware Organizador";
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Contabilidad | SportSync</title>

    <link href="~/css/app.css" rel="stylesheet" />
    <link href="~/css/sidebar.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-..."
    />
  </head>

  <body>
    <div class="wrapper">
      <nav id="sidebar" class="sidebar js-sidebar">
        <div class="sidebar-content js-simplebar">
          <div class="text-center bg-blue sidebar-brand">
            <div class="text-center">
              <div class="text-center">
                <img
                  src="~/img/logo-sportsync.png"
                  class="img-fluid"
                  width="180"
                />
              </div>
            </div>
          </div>

          <ul class="sidebar-nav">
            <li class="sidebar-header">Paginas</li>

            <li class="sidebar-item">
              <a class="sidebar-link" asp-controller="Organizador" asp-action="Index">
                <i class="align-middle" data-feather="sliders"></i>
                <span class="align-middle">Torneos</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" asp-controller="Organizador" asp-action="coaches">
                <i class="align-middle" data-feather="user"></i>
                <span class="align-middle">Coaches</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" asp-controller="Organizador" asp-action="coaches">
                <i class="align-middle" data-feather="user-check"></i>
                <span class="align-middle">Arbitros</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" asp-controller="Organizador" asp-action="equipos">
                <i class="align-middle" data-feather="users"></i>
                <span class="align-middle">Equipos</span>
              </a>
            </li>

            <li class="sidebar-item active">
              <a class="sidebar-link" asp-controller="Organizador" asp-action="contabilidad">
                <i class="align-middle" data-feather="dollar-sign"></i>
                <span class="align-middle">Contabilidad</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" asp-controller="Organizador" asp-action="noticias">
                <i class="align-middle" data-feather="book"></i>
                <span class="align-middle">Noticias</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="main">
        <nav class="navbar navbar-expand navbar-bg">
          <a class="sidebar-toggle js-sidebar-toggle">
            <i class="hamburger align-self-center"></i>
          </a>

          <div class="navbar-collapse collapse">
            <ul class="navbar-nav navbar-align">
              <li class="nav-item dropdown">
                <a
                  class="nav-icon dropdown-toggle d-inline-block d-sm-none"
                  data-bs-toggle="dropdown"
                >
                  <img
                    src="~/img/user-perfil.png"
                    class="avatar img-fluid rounded me-1"
                    alt="Charles Hall"
                  />
                </a>

                <a
                  class="nav-link dropdown-toggle d-none d-sm-inline-block"
                  data-bs-toggle="dropdown"
                >
                  <img
                    src="~/img/user-perfil.png"
                    class="avatar img-fluid rounded me-1"
                    alt="Charles Hall"
                  />
                  @if (User.Identity.IsAuthenticated != null)
                  {
                    <span class="text-dark">@User.Identity.Name</span>
                  }
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                  <div class="dropdown-divider"></div>

                  <a asp-action="CerrarSesion" asp-controller="Home" class="dropdown-item text-danger">
                    <i  class="align-middle me-1" data-feather="log-out"></i
                    >Cerrar sesión</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>

        <main class="content">
          <div class="container-fluid p-0">
            <!-- BREADCRUMB -->
            <nav class="fw-bold">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a asp-controller="Organizador" asp-action="contabilidad">Contabilidad</a>
                </li>
                <li class="breadcrumb-item active">Cuenta del torneo</li>
              </ol>
            </nav>
            <!-- ---------- -->
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-body align-self-center">
                    <div class="row">
                      <div class="col-md-6">
                        <form action="">
                          <p>Cuenta del torneo</p>
                          <div class="mb-3">
                            <label for="" class="form-label"
                              >Contador responsable:</label
                            >
                            <select class="form-select" name="" id="" required>
                              <option selected>Selecciona contador</option>
                              <option value="">Benito</option>
                              <option value="">Chavo</option>
                            </select>
                          </div>
                          <div class="mb-3">
                            <h4>Información básica.</h4>
                          </div>
                          <div class="mb-3">
                            <p>Nombre del torneo:</p>
                          </div>
                          <div class="mb-3">
                            <p>Deporte:</p>
                          </div>
                          <div class="mb-3">
                            <p>Categoria:</p>
                          </div>
                          <div class="mb-3">
                            <label class="form-label"
                              >Costo de inscripción:</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              name=""
                              id=""
                              required
                            />
                          </div>

                          <div class="text-center m-3">
                            <button type="submit" class="btn btn-primary">
                              Guardar cambios
                            </button>
                          </div>
                        </form>
                      </div>

                      <div class="col-md-6">
                        <h4>Registros de ingresos.</h4>
                        <div class="tabla-scroll-contabilidad">
                          <table
                            class="table table-striped display"
                            id="equipos"
                          >
                            <thead>
                              <tr>
                                <th>Descripción</th>
                                <th>Cantidad</th>
                                <th>Responsable</th>
                                <th>Fecha</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th></th>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <th></th>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <th></th>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <h4>Costo por partido.</h4>
                        <div class="tabla-scroll-contabilidad">
                          <table
                            class="table table-striped display"
                            id="equipos"
                          >
                            <thead>
                              <tr>
                                <th>Fecha de partido</th>
                                <th>Costo por equipo</th>
                                <th>Equipo local</th>
                                <th>Equipo visitante</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th></th>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <th></th>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <th></th>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <h4>Registros de datos.</h4>
                        <div class="tabla-scroll-contabilidad">
                          <table
                            class="table table-striped display"
                            id="equipos"
                          >
                            <thead>
                              <tr>
                                <th>Descripción</th>
                                <th>Cantidad</th>
                                <th>Responsable</th>
                                <th>Fecha</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th></th>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <th></th>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <th></th>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>

        <footer class="footer">
          <div class="container-fluid">
            <div class="row text-muted">
              <div class="col-6 text-start">
                <p class="mb-0">
                  <a class="text-muted" href="" target="_blank"
                    ><strong>SPORTSYNC</strong></a
                  >
                  &copy;
                </p>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>

    <script src="~/js/app.js"></script>
  </body>
</html>
