@model SportSync.Models.ViewModels.PageInfoViewModel

@{
    var idEquipo = ViewBag.idEquipo;
}

<!-- Segundo navbar -->
@await Html.PartialAsync("~/Views/Shared/Partials/_navbarPageMainTorneo.cshtml")

<main class="p-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 p-3">
                <div class="shadow-lg bg-body rounded p-4">
                    <div class="input-group pb-4">
                        <strong>Próximos partidos</strong>
                    </div>
                    <!-- Cards fila -->
                    <div class="row">
                        @foreach (var partido in Model.Partidos)
                        {
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body card-partidos">
                                        <div class="image-container">
                                            <img src="https://via.placeholder.com/150" alt="Imagen del equipo 1" />
                                            <strong>Equipo Local</strong>
                                        </div>
                                        <div class="content">
                                            <p class="card-text fs-6 text-center">
                                                <span>@partido.Ubicacion</span>
                                                <strong>VS</strong><br />
                                                <span>@partido.Hora.ToString("hh:mm tt")</span>
                                                <span>@partido.Fecha.ToString("MMMM dd")</span>
                                            </p>
                                        </div>
                                        <div class="image-container">
                                            <img src="https://via.placeholder.com/150" alt="Imagen del equipo 2" />
                                            <strong>Equipo Visitante</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <!-- Fin Cards -->
                </div>
            </div>

            <!-- Columa de noticias -->
            @await Html.PartialAsync("~/Views/Shared/Partials/_cardPageMainNoticias.cshtml")
        </div>
    </div>
</main>
