body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1B203B;
    color: white;
    padding: 10px 20px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  
  .logo img {
    height: 50px;
    width: auto;
  }
  
  .menu {
    display: flex;
  }
  
  .menu-btn {
    display: none;
  }
  
  @media (max-width: 768px) {
    .menu {
      position: absolute;
      right: 0;
      top: 60px;
      flex-direction: column;
      background-color: #1B203B;
      width: 100%;
      display: none;
    }
  
    .menu a {
      margin: 10px 0;
    }
  
    .menu-btn {
      display: block;
      background: none;
      border: none;
      color: white;
      font-size: 1.5em;
      cursor: pointer;
    }
  }
  /* CONTENEDORES IZQUIERDO Y DERECHO */
  .contenedor-80 {
    width: 80%;
    height: 100vh; /* Altura del viewport */ 
    float: left; /* Para colocarlo a la izquierda */
}

.contenedor-20 {
  width: 20%;
  height: 100vh; /* Altura del viewport */ 
  float: left; /* Para colocarlo a la izquierda */
}

.noticia {
  width: 90%;
  margin: 20px auto;
  background-color: #ffffff; /* Color de fondo de la noticia */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  overflow: hidden; /* Evita que los bordes redondeados se superpongan a la sombra */
}

.imagen-noticia {
  width: 100%;
}

.imagen-noticia img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.contenido-noticia {
  padding: 20px;
}

.contenido-noticia h3 {
  margin-top: 0;
}

.contenido-noticia p {
  margin-bottom: 20px;
}

.btn-mas-informacion {
  display: block;
  background-color: #1B203B; /* Color de fondo del botón */
  color: #ffffff; /* Color del texto del botón */
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}

.btn-mas-informacion:hover {
  background-color: #434e8f; /* Cambia el color de fondo al pasar el mouse */
}

  /* CARD 1 */
  .contenedor-80 {
    width: 80%;
    height: 100vh; /* Altura del viewport */ 
    float: left; /* Para colocarlo a la izquierda */
    
}

.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Espacio entre las tarjetas */
}

.tarjeta {
    width: calc(25% - 50px); /* Ajusta el tamaño de la tarjeta según el espacio disponible */
    margin-bottom: 40px; /* Espacio entre las tarjetas */
    background-color: #ffffff; /* Color de fondo de las tarjetas */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    overflow: hidden; /* Evita que los bordes redondeados se superpongan a la sombra */
    padding: 20px;
}

.imagen {
    width: 100%; /* Ancho de la imagen */
}

.imagen img {
    width: 100%; /* Hacer que la imagen ocupe todo el espacio disponible */
    border-top-left-radius: 10px; /* Bordes redondeados solo en la esquina superior izquierda */
    border-top-right-radius: 10px; /* Bordes redondeados solo en la esquina superior derecha */
}

.informacion {
    padding: 20px; /* Espacio alrededor de la información */
}

.informacion p {
    margin: 10px 0; /* Espacio entre los párrafos */
}

.informacion input {
    width: calc(100% - 25px); /* Ancho del input, ajustado para dar espacio al texto */
    margin-left: 5px; /* Espacio entre el texto y el input */
    border: none; /* Eliminar el borde del input */
    border-bottom: 1px solid #ccc; /* Borde inferior gris claro */
    padding: 5px; /* Espaciado interno del input */
    outline: none; /* Eliminar el contorno al hacer clic en el input */
}

.informacion input:focus {
    border-bottom: 1px solid #007bff; /* Cambiar el color del borde inferior al enfocar */
}


.contenedor-principal {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px; 
  }

  .radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #EEE;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(39, 39, 39, 0.06);
    padding: 0.25rem;
    width: 300px;
    font-size: 14px;
  }
  
  .radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
  }
  
  .radio-inputs .radio input {
    display: none;
  }
  
  .radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgb(134, 136, 139);
    transition: all .15s ease-in-out;
  }
  
  .radio-inputs .radio input:checked + .name {
    background-color: #1B203B;
    font-weight: 600;
    color: white;
  }

  .titulo {
    margin: 0;
    color: #333333;
  }
 

  .contenido {
    display: none;
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    transition: all 0.3s ease;
  }

  .contenido-activo {
    display: block;
  }

  p {
    margin: 0;
    color: #555555;
  }

  .barra-busqueda {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .barra-busqueda input[type="text"] {
    width: 50%;
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 5px;
  }

  .contenedor-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
  }

  .card {
    flex: 0 1 calc(43.333% - 20px); /* Ajuste para 3 tarjetas por fila */
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .card img {
    width: 100%;
    height: auto;
  }

  .card-info {
    padding: 10px;
  }

  .card-title {
    margin: 0;
    color: #007bff;
  }

  .card-text {
    color: #555;
  }