@import "colors.css";
@import "styleGeneral.css";

.lienzo {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fondo {
    background-color: rgb(150, 0, 0);
}

.nombreGen {
    color: rgb(150, 0, 0);
}

.btnLogeo {
    background-color: rgba(253, 138, 134, 0.87);
    color: var(--colorText);
    border: none;
    padding: .5em;
    border-radius: .5em;
}