
<form asp-action="Logout" asp-controller="Home" method="post">
    <button type="submit" class="dropdown-item text-danger">
        <i class="align-middle me-1" data-feather="log-out"></i>Cerrar sesión
    </button>
</form>
