<link rel="stylesheet" href="~/css/panel.css">
<a asp-action="CerrarSesion" asp-controller="Home" class="dropdown-item text-danger">
    <i class="align-middle" data-feather="log-out"></i>Cerrar sesión
</a>
