@model SportSync.Models.ViewModels.PageInfoViewModel

@{
    var idTorneo = ViewBag.IdTorneo;
    
}

@{
    var idEquipo = ViewBag.IdEquipo;
}

<nav class="navbar navbar-expand-lg navbar-custom p-0 border-bottom border-dark">
    <div class="container">
        <div class="navbar-brand" href="#">
            <img src="https://via.placeholder.com/60" alt="Torneo" />
            <strong>Nombre de equipo</strong>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Torneo", "PageMain", new { idTorneo = idTorneo })">Equipos</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Equipo", "PageMain", new { idEquipo = idEquipo })">Partidos de Equipo</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ResultadosEquipo", "PageMain", new { idEquipo = idEquipo })">Resultados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Jugadores", "PageMain", new { idEquipo = idEquipo })">Jugadores</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
