@model SportSync.Models.Torneo

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Crear Torneo | SportSync</title>

    <link href="~/css/app.css" rel="stylesheet" />
    <link href="~/css/sidebar.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar" class="sidebar js-sidebar">
            <div class="sidebar-content js-simplebar">
                <div class="text-center bg-blue sidebar-brand">
                    <img src="~/img/logo-sportsync.png" class="img-fluid" width="180" />
                </div>
                <ul class="sidebar-nav">
                    <li class="sidebar-header">Páginas</li>
                    <li class="sidebar-item active">
                        <a class="sidebar-link" href="~/index.html">
                            <i class="align-middle" data-feather="sliders"></i>
                            <span class="align-middle">Torneos</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="~/coaches.html">
                            <i class="align-middle" data-feather="user"></i>
                            <span class="align-middle">Coaches</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="~/arbitros.html">
                            <i class="align-middle" data-feather="user-check"></i>
                            <span class="align-middle">Árbitros</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="~/equipos.html">
                            <i class="align-middle" data-feather="users"></i>
                            <span class="align-middle">Equipos</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="~/contabilidad.html">
                            <i class="align-middle" data-feather="dollar-sign"></i>
                            <span class="align-middle">Contabilidad</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="~/noticias.html">
                            <i class="align-middle" data-feather="book"></i>
                            <span class="align-middle">Noticias</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="main">
            <nav class="navbar navbar-expand navbar-bg">
                <a class="sidebar-toggle js-sidebar-toggle">
                    <i class="hamburger align-self-center"></i>
                </a>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav navbar-align">
                        <li class="nav-item dropdown">
                            <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
                                <img src="~/img/user-perfil.png" class="avatar img-fluid rounded me-1" alt="Charles Hall" />
                            </a>
                            <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                                <img src="~/img/user-perfil.png" class="avatar img-fluid rounded me-1" alt="Charles Hall" />
                                <span class="text-dark">AlexanderLR</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="#">
                                    <i class="align-middle me-1" data-feather="log-out"></i>Cerrar sesión
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="content">
                <div class="container-fluid p-0">
                    <!-- BREADCRUMB -->
                    <nav class="fw-bold">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="~/index.html">Torneos</a>
                            </li>
                            <li class="breadcrumb-item active">Crear torneo</li>
                        </ol>
                    </nav>
                    <!-- FORMULARIO DE CREACIÓN DE TORNEO -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header text-center">
                                    <h3 class="fw-bold">Información del torneo</h3>
                                </div>
                                <div class="card-body align-self-center">
                                    <form asp-action="CrearTorneo" asp-controller="Organizador" method="post" enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Imagen del torneo:</label>
                                                    <input class="form-control" type="file" name="ImgTorneoFile" />
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label">Nombre del torneo:</label>
                                                    <input type="text" class="form-control" name="Nombre" required />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Deporte:</label>
                                                    <select class="form-select" name="IdDeporte" required>
                                                        <option value="">Selecciona un deporte</option>
                                                        <option value="1">Futbol</option>
                                                        <option value="2">Basketball</option>
                                                        <option value="3">Volleyball</option>
                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label">Categoría:</label>
                                                    <select class="form-select" name="Categoria" required>
                                                        <option value="">Selecciona categoría</option>
                                                        <option value="Femenino">Femenino</option>
                                                        <option value="Infantil">Infantil</option>
                                                        <option value="Profesional">Profesional</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="mb-3">
                                                    <label class="form-label">Fecha de inicio:</label>
                                                    <input type="date" class="form-control" name="FechaInicio" required />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="mb-3">
                                                    <label class="form-label">Fecha de fin:</label>
                                                    <input type="date" class="form-control" name="FechaFin" required />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-3 text-md-end">
                                            <a class="btn btn-danger" asp-controller="Organizador" asp-action="Index">
                                                Cancelar
                                            </a>
                                            <button type="submit" class="btn btn-primary">
                                                Crear<i class="ms-2 fa-solid fa-angle-right" style="color: #ffffff"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script src="~/js/app.js"></script>
    <script src="~/js/sidebar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
