@model SportSync.Models.Torneo

@{
    Layout = "Organizador/_LayoutPanelOrganizador";
}

<main class="content">
    <div class="container-fluid p-0">
        <!-- BREADCRUMB -->
        <nav class="fw-bold">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-controller="Organizador" asp-action="index">Torneos</a>
                </li>
                <li class="breadcrumb-item active">Crear torneo</li>
            </ol>
        </nav>
        <!-- FORMULARIO DE CREACIÓN DE TORNEO -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header text-center">
                        <h3 class="fw-bold">Información del torneo</h3>
                    </div>
                    <div class="card-body align-self-center">
                        <form asp-action="CrearTorneo" asp-controller="Organizador" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Imagen del torneo:</label>
                                        <input class="form-control" type="file" name="ImgTorneoFile" />
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Nombre del torneo:</label>
                                        <input type="text" class="form-control" name="Nombre" required />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Deporte:</label>
                                        <select class="form-select" name="IdDeporte" required>
                                            <option value="">Selecciona un deporte</option>
                                            <option value="1">Futbol</option>
                                            <option value="2">Basketball</option>
                                            <option value="3">Volleyball</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Categoría:</label>
                                        <select class="form-select" name="Categoria" required>
                                            <option value="">Selecciona categoría</option>
                                            <option value="Femenino">Femenino</option>
                                            <option value="Infantil">Infantil</option>
                                            <option value="Profesional">Profesional</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label class="form-label">Fecha de inicio:</label>
                                        <input type="date" class="form-control" name="FechaInicio" required />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label class="form-label">Fecha de fin:</label>
                                        <input type="date" class="form-control" name="FechaFin" required />
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3 text-md-end">
                                <a class="btn btn-danger" asp-controller="Organizador" asp-action="Index">
                                    Cancelar
                                </a>
                                <button type="submit" class="btn btn-primary">
                                    Crear<i class="ms-2 fa-solid fa-angle-right" style="color: #ffffff"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
            
        
